#Это корневой файл для всего проекта
root = true

#Правила для всех файлов (*)
[*]
#Использовать кодировку UTF-8
charset = utf-8
#Использовать пробелы для отступов
indent_style = spase
#Размер отступа: 4 пробела 
indent_size = 4
#Тип переноса строки: LF
end_of_line = lf
#Удалять пробелы в конце строк
trim_trailing_withespase = true
#Добавлять пустую строку в конце файла
insert_final_newline = true

#Особые правила для файлов разметки
[*.{yml,yam,json,html}]
indent_size = 2
